# O projeto é uma análise de dados que deve conter as seguintes etapas:

•	Carregar e ler arquivos .csv, xlsx ou de um banco de dados;

•	Avaliar a necessidade da transformação da variável em outra escala (agrupar idade por faixas, por exemplo);

•	Realizar a codificação das variáveis categóricas conforme os valores das variáveis (label encoder, one hot encoder ou target encoder);

•	Normalizar as variáveis;

•	Avaliar a necessidade de realizar o balanceamento da variável alvo;

•	Tratar variáveis com alta correlação;

•	Realizar a seleção de variáveis;

•	Aplicar um modelo de regressão ou classificação utilizando uma técnica de hiperparametrização automática;

•	Aplicar uma medida de avaliação do modelo.

•	Gerar uma visualização para o resultado conforme os tipos abaixo:
    - Agrupamento: gerar a visualização Scatter;
    - Classificação: gerar a matriz de confusão; 
    - Regressão: gerar a visualização da linha de saída.

In [1]:
import pandas as pd # O 'as' é um alias, um apelido. Ao invés de escrever 'pandas', escrevemos 'pd'
import numpy as np

# 1. Carregar o arquivo .csv usando o pd.read_csv()

In [23]:
df = pd.read_csv('Pokemon.csv') # Lê o arquivo .csv e armazena em um DataFrame
df.head() #  Traz os 5 primeiros registros do DataFrame

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,134,Vaporeon,Water,NaN,525,130,65,60,110,95,65,1,False
146,135,Jolteon,Electric,NaN,525,65,65,60,110,95,130,1,False
147,136,Flareon,Fire,NaN,525,65,130,60,95,110,65,1,False
148,137,Porygon,Normal,NaN,395,65,60,70,85,75,40,1,False
149,138,Omanyte,Rock,Water,355,35,40,100,90,55,35,1,False

# 2. Avaliar a necessidade da transformação da variável em outra escala (agrupar idade por faixas, por exemplo)

Não vimos necessidade de escalar as variáveis, pois o dataset é pequeno e autoexplicativo.

In [21]:
df.drop(['#'], axis=1, inplace=True) # Remove a coluna '#'; o axis 1 indica que é uma coluna, se fosse 0, indicaria que é uma linha; inplace=True indica que a alteração é feita no próprio DataFrame
colunas = ['nome', 'tipo_1', 'tipo_2', 'total', 'hp', 'ataque', 'defesa', 'sp_atq', 'sp_def', 'velocidade', 'geracao', 'lendario'] # traduzindo as colunas e renomeando de uma forma mais amigável para o modelo, tirando espaços e maiúsculas
df.columns = colunas # Renomeia as colunas do DataFrame
df.head()

,nome,tipo_1,tipo_2,total,hp,ataque,defesa,sp_atq,sp_def,velocidade,geracao,lendario
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

# 3. Realizar a codificação das variáveis categóricas de acordo com os valores das variáveis (label encoder, one hot encoder ou target encoder)

In [4]:
# Label Encoder

from sklearn.preprocessing import LabelEncoder # Importa a classe LabelEncoder do módulo preprocessing da biblioteca sklearn

le = LabelEncoder() # O LabelEncoder faz sentido quando a variável categórica é ordinal, ou seja, tem uma ordem natural. O pokemon tem mais 'peso' por ser lendário.

df['lendario'] = le.fit_transform(df['lendario']) # Transforma os valores da coluna lendario em valores numéricos [0-1]
df.head()

,nome,tipo_1,tipo_2,total,hp,ataque,defesa,sp_atq,sp_def,velocidade,geracao,lendario
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,0
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,0
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,0
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,0
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,0

# Normalizar as variáveis

In [5]:
# Antes, uma análise descritiva do DataFrame, é bom para observar valores discrepantes, outliers, e ter uma noção da distribuição dos dados.
df.describe()

,total,hp,ataque,defesa,sp_atq,sp_def,velocidade,geracao,lendario
count,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000,800.00000
mean,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375,0.08125
std,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129,0.27339
min,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000,0.00000
25%,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000,0.00000
50%,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000,0.00000
75%,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000,0.00000
max,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000,1.00000

In [7]:
# Antes, vamos tratar os NaN da coluna do tipo_2, pois muitos pokemons não tem 2 tipos de categorias.

df['tipo_2'].fillna('None', inplace=True) # Preenche os valores NaN da coluna tipo_2 com 'None'
df.isna().sum() # Verifica se há valores NaN no DataFrame

nome          0
tipo_1        0
tipo_2        0
total         0
hp            0
ataque        0
defesa        0
sp_atq        0
sp_def        0
velocidade    0
geracao       0
lendario      0
dtype: int64

In [8]:
df.head()

,nome,tipo_1,tipo_2,total,hp,ataque,defesa,sp_atq,sp_def,velocidade,geracao,lendario
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,0
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,0
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,0
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,0
4,Charmander,Fire,None,309,39,52,43,60,50,65,1,0

In [9]:
from sklearn.preprocessing import StandardScaler # Importa a classe StandardScaler do módulo preprocessing da biblioteca sklearn

# O standardScaler é uma técnica de normalização que transforma os dados para que a média seja 0 e o desvio padrão seja 1.
# Se o valor da variável for menor que a média, o valor transformado será negativo. Se for maior, será positivo. Quanto maior o número, mais próximo, ou até maior que 1 ele será.

scaler = StandardScaler() # Instancia o StandardScaler
# Vamos usar o Scaler, pois ele é mais sensível a outliers, o que é comum em pokemons lendários. 

# Para manter o DataFrame original, vamos criar um DataFrame com os valores normalizados
df_norm = df.copy() # Cria uma cópia do DataFrame
df_norm[['total', 'hp', 'ataque', 'defesa', 'sp_atq', 'sp_def', 'velocidade']] = scaler.fit_transform(df_norm[['total', 'hp', 'ataque', 'defesa', 'sp_atq', 'sp_def', 'velocidade']]) # Normaliza as colunas int64 e float64

df_norm.head()

,nome,tipo_1,tipo_2,total,hp,ataque,defesa,sp_atq,sp_def,velocidade,geracao,lendario
0,Bulbasaur,Grass,Poison,-0.976765,-0.950626,-0.924906,-0.797154,-0.239130,-0.248189,-0.801503,1,0
1,Ivysaur,Grass,Poison,-0.251088,-0.362822,-0.524130,-0.347917,0.219560,0.291156,-0.285015,1,0
2,Venusaur,Grass,Poison,0.749845,0.420917,0.092448,0.293849,0.831146,1.010283,0.403635,1,0
3,VenusaurMega Venusaur,Grass,Poison,1.583957,0.420917,0.647369,1.577381,1.503891,1.729409,0.403635,1,0
4,Charmander,Fire,None,-1.051836,-1.185748,-0.832419,-0.989683,-0.392027,-0.787533,-0.112853,1,0

In [17]:
df.head() # Como visto, manteve o df original.

,nome,tipo_1,tipo_2,total,hp,ataque,defesa,sp_atq,sp_def,velocidade,geracao,lendario
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,0
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,0
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,0
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,0
4,Charmander,Fire,None,309,39,52,43,60,50,65,1,0
5,Charmeleon,Fire,None,405,58,64,58,80,65,80,1,0
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,0
7,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,0
8,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,0
9,Squirtle,Water,None,314,44,48,65,50,64,43,1,0
10,Wartortle,Water,None,405,59,63,80,65,80,58,1,0
11,Blastoise,Water,None,530,79,83,100,85,105,78,1,0
12,BlastoiseMega Blastoise,Water,None,630,79,103,120,135,115,78,1,0
13,Caterpie,Bug,None,195,45,30,35,20,20,45,1,0
14,Metapod,Bug,None,205,50,20,55,25,25,30,1,0
15,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,0
16,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,0
17,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,0
18,Beedrill,Bug,Poison,395,65,90,40,45,80,75,1,0
19,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,0
20,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,0
21,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,0
22,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,0
23,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,0
24,Rattata,Normal,None,253,30,56,35,25,35,72,1,0
25,Raticate,Normal,None,413,55,81,60,50,70,97,1,0
26,Spearow,Normal,Flying,262,40,60,30,31,31,70,1,0
27,Fearow,Normal,Flying,442,65,90,65,61,61,100,1,0
28,Ekans,Poison,None,288,35,60,44,40,54,55,1,0
29,Arbok,Poison,None,438,60,85,69,65,79,80,1,0
30,Pikachu,Electric,None,320,35,55,40,50,50,90,1,0
31,Raichu,Electric,None,485,60,90,55,90,80,110,1,0
32,Sandshrew,Ground,None,300,50,75,85,20,30,40,1,0
33,Sandslash,Ground,None,450,75,100,110,45,55,65,1,0
34,Nidoran♀,Poison,None,275,55,47,52,40,40,41,1,0
35,Nidorina,Poison,None,365,70,62,67,55,55,56,1,0
36,Nidoqueen,Poison,Ground,505,90,92,87,75,85,76,1,0
37,Nidoran♂,Poison,None,273,46,57,40,40,40,50,1,0
38,Nidorino,Poison,None,365,61,72,57,55,55,65,1,0
39,Nidoking,Poison,Ground,505,81,102,77,85,75,85,1,0
40,Clefairy,Fairy,None,323,70,45,48,60,65,35,1,0
41,Clefable,Fairy,None,483,95,70,73,95,90,60,1,0
42,Vulpix,Fire,None,299,38,41,40,50,65,65,1,0
43,Ninetales,Fire,None,505,73,76,75,81,100,100,1,0
44,Jigglypuff,Normal,Fairy,270,115,45,20,45,25,20,1,0
45,Wigglytuff,Normal,Fairy,435,140,70,45,85,50,45,1,0
46,Zubat,Poison,Flying,245,40,45,35,30,40,55,1,0
47,Golbat,Poison,Flying,455,75,80,70,65,75,90,1,0
48,Oddish,Grass,Poison,320,45,50,55,75,65,30,1,0
49,Gloom,Grass,Poison,395,60,65,70,85,75,40,1,0

In [12]:
# Contagem de Pokémon lendários
num_lendario = df["lendario"].sum()
num_lendario

65

In [13]:
# Contagem total de Pokémon
total_pokemon = len(df)
total_pokemon

800

In [14]:
# Proporção de Pokémon lendários. Em relação ao 
# total de pokemons podemos considerar que a classe lendario está desbalanceada.
proporcao_lendarios = num_lendario / total_pokemon

print(f"Proporção de Pokémon lendários: {proporcao_lendarios:.2%}")

Proporção de Pokémon lendários: 8.12%